@font-face {
    font-family: "YoungSerif";
  src: url("YoungSerif-Regular.otf") format("otf")
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: #22CC08;
    transition: color 0.25s;

}


.mySlides {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #EFEFEF;
}

.black{
    background: black;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Next & previous buttons */

.next {
    cursor: pointer;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    color: black;
    font-size: 25px;
    transition: 0.6s ease;
    font-variation-settings: "wght" 300;
    font-family: 'Inter', sans-serif;

}

.prev {
    cursor: pointer;
    position: fixed;
    bottom: 5vw;
    left: 5vw;
    color: black;
    font-size: 25px;
    transition: 0.6s ease;
    font-variation-settings: "wght" 300;
    font-family: 'Inter', sans-serif;
}

.prev:hover,
.next:hover {
    color: grey;
    cursor: crosshair;
}


.hint {
    cursor: pointer;
    position: fixed;
    top: 3vw;
    left: 5vw;
    color: black;
    font-size: 25px;
    transition: 0.6s ease;
    font-variation-settings: "wght" 300;
    font-family: 'Inter', sans-serif;
}
/* Caption text */
.text {
    display: inline;
    color: black;
    font-size: 7vw;
    position: absolute;
    top: 6vw;
    left: 5vw;
    width: 90%;
    height: 30%;  
    font-family: orpheuspro, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}

.text-smol {
    display: flex;
    color: black;
    font-size: 4.75vw;
    position: absolute;
    background:none;
    border:none;
    top: 6vw;
    left: 5vw;
    width: 90%;
    height: 10%; 
    font-family: orpheuspro, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    cursor: crosshair;
}

.text-smol:focus {
    border: none;
}

.text-smol:active {
    border: none;
}

button:focus {
    border: none;
}
button:active {
    border: none;
}

button{ 
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 22px;
    position: absolute;
    top: 3vw;
    right: 5vw;
    font-variation-settings: "wght" 300;
    font-family: 'Inter', sans-serif;
}

.type:hover {
    color: #22CC08;
    transition: color 0.25s;
}

.options {
    display: flex;
    margin-top: 4vh;
    width: 40vw;
    flex-direction: column;
    
}
.container {
    display: flex;
    position: relative;
    align-content: center;
    width: 50vw;
    padding-left: 50px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;   
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: white;
    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height:10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* The dots/bullets/indicators */

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.question {
    display:flex;
    width: 75vw;
    height: 10vh;
    color:white;
    font-family: Inter, sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 40px;
}

.question-container{
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 200px;
    left: 5%;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-30)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateY(15%);

    }
}

@media only screen and (max-width: 800px) {
    .text {
        left: 7.25vw;
        font-size: 15vw;
        top: 15vw;
        width: 85%;
    }



    .text-smol {
        left: 7.25vw;
        font-size: 8vw;
        top: 15vw;
        width: 85%;
        font-weight: 500;
    }

    .type {
        color: #22CC08;
    }

    .numbertext{
        right: 8vw;
        top: 5vw;
        font-size: 18px;
    }
    
    .next {
     right: 8vw;
     bottom: 8vw;
     font-size: 18px;
    }

    .prev {
        left: 8vw;
        bottom: 8vw;
        font-size: 18px;

       }

       .hint {
        left: 8vw;
        top: 5vw;
        font-size: 18px;
    }

    .prev:hover,
    .next:hover {
    color: black;
    cursor: crosshair;
    }


    .question {
        font-size: 3vh;
        width: 84vw;
    }

    .question-container{
        display: flex;
        flex-direction:column;
        position: absolute;
        top: 15%;
        left: 8%;
        width: 84%
    }
    
    .options {
        margin-top: 10vh;
        width: 40vw;
    }

    .container {
        display: flex;
        font-size: 3vh;
        align-items: center;
        align-content: center;
    }

    .checkmark {
        display: flex;
        align-self: center;
        top: 1vh;
        height: 2.25vh;
        width: 2.25vh;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }

      .checkmark > input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
      }

  }